<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proj.fivesecrule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="proj.fivesecrule.TeamsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="proj.fivesecrule.GameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="proj.fivesecrule.FiltersActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="proj.fivesecrule.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:exported="true"
            android:name="proj.fivesecrule.MainActivity" />
        <service
            android:exported="true"
            android:name="proj.fivesecrule.FiltersActivity" />
        <service
            android:exported="true"
            android:name="proj.fivesecrule.GameActivity" />
        <service
            android:exported="true"
            android:name="proj.fivesecrule.TeamsActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>